  <div class='nested-fields'>
    <div class="field">
      <%= f.label :street_addres %>
      <%= f.text_field :street_addres %>
    </div>
   <div class="field">
      <%= f.label :zip_code %>
      <%= f.text_field :zip_code %>
    </div>
       <div class="field">
      <%= f.label :phone %>
      <%= f.text_field :phone %>
    </div>
    <%= link_to_remove_association "Remove Office", f %>
  </div>