<p id="notice"><%= notice %></p>

<h2>
  <%= @physician.name %>
</h2>

<h3> 
      <strong>Specialty:</strong>
     <%=  @physician.specialty %>

</h3>

<hr>

<h3> Office Locations </h3>

<div class="location-table">
<table class="blueTable">
  <thead>
    <tr>
      <th>Street Address</th>
      <th>Zipcode</th>
      <th>Phone</th>
    </tr>
  </thead>

  <tbody>
    <% @physician.offices.each do |office| %>
      <tr>
        <td><%= office.street_addres %></td>
        <td><%= office.zip_code %></td>
        <td><%= office.phone %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<h3>Current Appointments</h3>
<div class="location-table">
    <table class="blueTable">
  <thead>
    <tr>
      <th>Patient Name</th>
      <th>Date of Appointment</th>
    </tr>
  </thead>

  <tbody>
    <% @physician.appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.Patient.name %></td>
        <td><%= appointment.visit %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<%= link_to 'Edit', edit_physician_path(@physician) %> |
<%= link_to 'Back', physicians_path %>
