<!DOCTYPE html>
<html>
  <head>
    <title>Homework3</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
        <div id="header">
          <h1>Appointment Manager</h1>
          <div id="links">
              <a href="/physicians">Physicians</a>
              <a href="/appointments">Appointments</a>
              <a href="/patients">Patients</a>
          </div>
      </div>
    <%= yield %>
  </body>
</html>
